.App{
    .sidebar{
        width: 10%;
        height: 100vh;
        background-color: #f4f6ff;
        position: fixed;
    }

    .main-content{
        width: 90%;
        margin-left: 10%;
        background-color: #d5ddff;
        min-height: 100vh;
        background-image: url("../assets/images/dvsup.png");
        display: grid;
        .content{
            margin: 5rem 15rem
        }
    }
}